.btn-abrir-popup1 {
  position: absolute;
  top: 30px;
  left: 180px; /* Ajusta el valor para mover el botón hacia la derecha */
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: #5E7DE3;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: .3s ease all;
}

.btn-abrir-popup1:hover {
  background: rgba(94, 125, 227, .9);
}

input[type="submit"],
button[type="submit"] {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  color: #fff;
  background: #4CAF50;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: .3s ease all;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
  background: rgba(76, 175, 80, .9);
}

.overlay1 {
  background: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
}

.btn-cerrar-popup1 {
  color: #888;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 15px;
  text-decoration: none;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
}

.popup h3 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  opacity: 0;
}

.popup h5 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 40px;
  opacity: 0;
}

.popup1 {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  position: relative;
  width: 400px;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}



